<div class="row">
    <div class="col-3">
        <button class="btn btn-success" *ngFor="let city of cities">{{city}}</button>
    </div>
</div>

<div class="row">
    <div class="col-6">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Roll No</th>
                    <th>Name</th>
                    <th>Marks</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let student of Students">
                    <td>{{student.rollNo}}</td>
                    <td>{{student.name}}</td>
                    <td>
                        <ul>
                            <li *ngFor="let [marks] of Object.entries(student.marks)"> 
                                {{ marks[0] }}<br> 
                              </li>
                        </ul>
                </td>
                </tr>
            </tbody>
        
        </table>
    </div>
</div>